<%if @errors%><font color="red"><%=@errors.join(', ')%>. Please correct the errors and try again!</font><%end%>
<h3>Edit Volunteer:</h3>

<div class="form">
  <form action="/volunteers/<%= @volunteer.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label for="name">Name:</label>
    <input type="text" name="name" value="<%= @volunteer.name %>">
    <br><br>
    <label for="email">Email:</label>
    <input type="text"  name="email" value="<%= @volunteer.email %>">
    <br><br>
    <label for="phone">Phone Number:</label>
    <input type="text"  name="phone" value="<%= @volunteer.phone %>">
    <br><br>
    <label for="password">Password:</label>
    <input type="password"  name="password">
    <br><br> 
    <label for="is_admin">Is Admin?:</label>
    <input type="checkbox" name="is_admin" <%if @volunteer.is_admin%> checked <%end%>>
    <br><br>

    <input type="submit" value="Submit">
  </form>
</div>