<center><table style="width:75%"  border='1px'>
    <tr>
        <th><h3><b>VOLUNTEERS:</b> </h3></th>
        <th></th>
        <th></th>
    </tr>
     <tr>
        <th><b>Name</b></th>
        <th><b>Phone</b></th>
        <th><b>Admin</b></th>
    </tr>
    <% @volunteers.each do |volunteer| %>
    <tr>
        <td><%= volunteer.name %> <a href="/volunteers/<%= volunteer.id %>/edit">edit</a>
            <form action="/volunteers/<%= volunteer.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <button type="submit">Delete</button>
 </form>
        </td>
        <td><%= volunteer.phone %></td>
        <td><%= volunteer.is_admin %></td>
    </tr>
    <% end %>
</table>
<a href="/volunteers/new">New Volunteer</a>
</center>