<% if @errors %><font color="red"><%= @errors %></font> <% end %>
<h3>Edit Recepient:</h3>

<div class="form">
  <form action="/recepients/<%= @recepient.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label for="name">Name:</label>
    <input type="text" name="name" value="<%= @recepient.name %>">
    <br><br>
    <label for="address">Address:</label>
    <input type="text" name="address" value="<%= @recepient.address %>">
    <br><br>
    <label for="phone">Telephone Number:</label>
    <input type="text"  name="phone" value="<%= @recepient.phone %>">
    <br><br> 
    <label for="is_admin">Municipality:</label>
    <select name="municipality">
      <option value="Center City" <% if @recepient.municipality == "Center City"%><%= "selected" %><%end%>>Center City</option>
      <option value="Old Town" <% if @recepient.municipality == "Old Town"%><%= "selected" %><%end%>>Old Town</option>
      <option value="New Town" <% if @recepient.municipality == "New Town"%><%= "selected" %><%end%> >New Town</option>
      <option value="New Sarajevo" <% if @recepient.municipality == "New Sarajevo"%><%= "selected" %><%end%>>New Sarajevo</option>
      <option value="Ilidza" <% if @recepient.municipality == "Ilidza"%><%= "selected" %><%end%>>Ilidza</option>
      <option value="Other" <% if @recepient.municipality == "Other"%><%= "selected" %><%end%>>Other</option>
    </select>
    <br><br>

    <input type="submit" value="Submit">
  </form>
</div>
