Our volunteers have made: <span class="total-runs"><%= @total_runs %> </span>runs so far. There are currently <span class="total-runs"><%=@active_runs%></span> runs in progress.
<br><br>
<%= column_chart(@municipalities, title: "Deliveries by Municipality", colors: ["#4CAF50"], opacity: 0.2) %>

<%= pie_chart(@municipalities, title: "Percentage by Municipality") %>

<%= line_chart(@dates, title: "Deliveries by Date (Trailing 10 days)", colors: ["#4CAF50"]) %>