<h3>Edit Delivery:</h3>

<div class="form">
  <form action="/deliveries/<%= @delivery.id %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <label for="recepient_id">Recepient:</label>
    <input type="hidden" name="recepient_id" value="<%= @delivery.recepient.id %>">
    <%= @delivery.recepient.name %>
    <br><br>
    <label for="volunteer_id">Volunteer:</label>
    <% if is_admin? %>
    <select name="volunteer_id">
        <% @volunteers.each do |volunteer| %>
        <option value="<%= volunteer.id %>" <% if volunteer.id == @delivery.volunteer.id %>selected<%end%>><%= volunteer.name %></option>
        <%end%>
    </select>
    <%else%>
    <%= @delivery.volunteer.name %>
    <%end%>
    <br><br>
    <label for="date">Date:</label>
    <input type="date" name="date" value="<%= @delivery.date %>">
    <br><br>
    <label for="task">Task:</label>
    <input type="text" name="task" value="<%= @delivery.task %>">
    <br><br>

    <input type="submit" value="Submit">
  </form>
  <form action="/deliveries/<%= @delivery.id %>" method="POST">
    <input type="hidden" name="_method" value="delete">
    <input class="input-delete" type="submit" value="DELETE">

  </form>
</div>
