<% if @active %>
    <h1>Active Deliveries Dashboard:</h1>
<% else %>
    <h1>All Deliveries:</h1>
<% end %>
<table id="maintable">
     <tr>
        <th><b>Date:</b></th>
        <th><b>Task:</b></th>
        <th><b>Recepient:</b></th>
        <th><b>Volunteer:</b></th>
        <th><b>Completed:</b></th>
    </tr>
    <% @deliveries.each do |delivery| %>
    <tr>
        <td><%= delivery.date %></td>
        <td><%= delivery.task %><%if is_logged_in? && (current_user == delivery.volunteer || is_admin?)%> (<a href="/deliveries/<%= delivery.id %>/edit">edit</a>)<% end %></td>
        <% if is_logged_in? %>
        <td><%if delivery.recepient%><%= delivery.recepient.name %><% end %></td>
        <td><%= delivery.volunteer.name %></td>
        <td><form action="/deliveries/<%=delivery.id%>/complete" method="POST"><%if is_logged_in? && (current_user == delivery.volunteer || is_admin?)%><input type="checkbox" name="completed" onChange="this.form.submit()" <% if delivery.completed %>checked><%end%><%end%></form></td>
        <% else %>
        <td>xxxxxxxxxxxxxxxxxxxxxxx</td>
        <td>xxxxxxxxxxxxxxxxxxxxxxx</td>
        <td>x</td>
        <% end %>
    </tr>
    <% end %>

</table>
