
<h1>Deliveries:</h1>
<table id="maintable">
     <tr>
        <th><b>Date:</b></th>
        <th><b>Task:</b></th>
        <th><b>Recepient:</b></th>
        <th><b>Volunteer:</b></th>
    </tr>
    <% @deliveries.each do |delivery| %>
    <tr>
        <td><%= delivery.date %></td>
        <td><%= delivery.task %><%if is_logged_in? && (current_user == delivery.volunteer || is_admin?)%> (<a href="/deliveries/<%= delivery.id %>/edit">edit</a>)<% end %></td>
        <% if is_logged_in? %>
        <td><%= delivery.recepient.name %></td>
        <td><%= delivery.volunteer.name %></td>
        <% else %>
        <td>xxxxxxxxxxxxxxxxxxxxxxx</td>
        <td>xxxxxxxxxxxxxxxxxxxxxxx</td>
        <% end %>
    </tr>
    <% end %>

</table>
